<ml-header-question
  title="Complete this sentence"
  description="Choose two words to complete this sentence"
></ml-header-question>
<main class="main-question">
  <div class="progress-bar" [ngClass]="{ shimmer: loading }">
    <div [ngStyle]="{ width: progressBarPercent }" class="completed"></div>
  </div>
  <div class="lottieAnimate" *ngIf="showAnimate">
    <ng-lottie
      [options]="options"
      (animationCreated)="animationCreated($event)"
    ></ng-lottie>
  </div>
  <router-outlet></router-outlet>
  <section class="question-action">
    <button (click)="checkAnswers()">
      Check It
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
  </section>
</main>
