.progress-bar {
  background-color: #f4f4f4;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 48px;
  max-width: 850px;
}

.progress-bar .completed {
  height: 30px;
  border-radius: 20px;
  background-color: #f8af5e;
  transition: width 1s ease-in-out;
}

.lottieAnimate {
  position: absolute;
  display: flex;
  justify-content: center;
}

.main-question {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  margin: 0 auto;
}

.question-action {
  margin: 50px;
  button {
    cursor: pointer;
    width: 280px;
    height: 78px;
    border-radius: 50px;
    background: #059413;
    border: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    fa-icon {
      margin-left: 6px;
    }
  }
  button:hover {
    background: #0c9d1a;
  }
  button:disabled {
    color: #9d9999;
    background: #555555;
  }
}
@media (max-width: 493px) {
  .main-question {
    display: block;
    padding: 0px 20px;
    height: calc(100vh - 200px);
    overflow: auto;
    padding-bottom: 25px;
  }

  .progress-bar {
    margin-bottom: 25px;
  }
  .question-action {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: #132858;
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    button {
      width: 270px;
      height: 65px;
      font-size: 1rem;
    }
  }
}