.progress-bar {
  background-color: #f4f4f4;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 48px;
  max-width: 850px;
}

.progress-bar .completed {
  height: 30px;
  border-radius: 20px;
  background-color: #f8af5e;
  transition: width 1s ease-in-out;
}

.lottieAnimate {
  position: absolute;
  display: flex;
  justify-content: center;
}

.main-question {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  margin: 0 auto;
}

.question-action {
  margin: 50px;
  button {
    cursor: pointer;
    width: 280px;
    height: 78px;
    border-radius: 50px;
    background: #059413;
    border: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    fa-icon {
      margin-left: 6px;
    }
  }
  button:hover {
    background: #0c9d1a;
  }
  button:disabled {
    color: #9d9999;
    background: #555555;
  }
}
