<header>
  <div class="sentence-title">
    <figure>
      <img
        width="65"
        src="../../../assets/img/monk_logo.svg"
        alt="MonkLang Logo"
      />
    </figure>
    <figure class="eua">
      <img width="40" src="../../assets/img/eua_icon.svg" alt="Icon EUA" />
    </figure>
    <article>
      <h1>{{ title }}</h1>
      <h2>{{ description }}</h2>
    </article>
  </div>
  <figure (click)="gohome()" class="mlCloseIt">
    <fa-icon [icon]="faDoorOpen"></fa-icon>
  </figure>
</header>
