<section class="categories-content">
  <div class="welcome-text">
    <article>
      <figure>
        <img
          width="70"
          src="../../assets/img/monk_logoIn.svg"
          alt="MonkLang Logo"
        />
      </figure>
      <h1>Escolha uma das categorias ao lado</h1>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s
      </p>
    </article>
  </div>
  <section class="categories">
    <ul>
      <li>
        <div><img src="" /></div>
        <p>Saudações</p>
      </li>
      <li>
        <div><img src="" /></div>
        <p>Viagem</p>
      </li>
      <li>
        <div><img src="" /></div>
        <p>Cardápio</p>
      </li>
      <li>
        <div><img src="" /></div>
        <p>Carreira</p>
      </li>
    </ul>
  </section>
</section>
<footer class="categories-footer"></footer>
