<section [ngClass]="loading ? 'shimmer' : 'bgQuestion'" class="question-phrase">
  <p
    [hidden]="loading"
    [innerHTML]="questionViewModel.statement | highlightAnswers"
  >
    {{ questionViewModel.statement }}
  </p>
</section>

<ul
  [ngClass]="loading ? 'shimmer' : 'bgOption'"
  class="shimmer question-options"
>
  <li
    [hidden]="loading"
    *ngFor="let answer of questionViewModel.answers"
    [class.selected]="answer.selected"
    (click)="toggleSelection(answer)"
  >
    {{ answer.description }}
  </li>
</ul>
