<header>
  <figure>
    <img
      width="40"
      src="../../assets/img/monk_logoIn.svg"
      alt="MonkLang Logo"
    />
  </figure>
  <article>
    <h1>Complete this sentence</h1>
    <h2>Choose two words to complete this sentence</h2>
  </article>
  <figure>x</figure>
</header>
<main class="main-question">
  <div class="progress-bar">
    <div class="completed"></div>
  </div>

  <section class="question-phrase">
    <p>
      <span style="color: #f8af5e">Un</span> garcon
      <span style="color: #f8af5e">et</span> un chat
    </p>
  </section>

  <ul class="question-options">
    <li class="selected">breakfast</li>
    <li>watercooler</li>
    <li>progressbar</li>
    <li>fitfood</li>
    <li>everyday</li>
    <li>the</li>
    <li class="selected">living</li>
  </ul>
</main>
