<ml-header-question
  title="Complete this sentence"
  description="Choose two words to complete this sentence"
></ml-header-question>
<main class="main-question">
  <div class="progress-bar">
    <div class="completed"></div>
  </div>

  <section class="question-phrase">
    <p>
      <span style="color: #f8af5e">Un</span> garcon
      <span style="color: #f8af5e">et</span> un chat
    </p>
  </section>

  <ul class="question-options">
    <li class="selected">breakfast</li>
    <li>watercooler</li>
    <li>progressbar</li>
    <li>fitfood</li>
    <li>everyday</li>
    <li>the</li>
    <li class="selected">living</li>
  </ul>

  <section class="question-action">
    <button>
      Check It
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
  </section>
</main>
