/*CARD LVL*/
.mlCard {
  background: #fff;
  width: 405px;
  height: 509px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  margin: 35px;
  transition: transform .2s;
  cursor: pointer;

  .mlLevelName {
    width: 164px;
    margin: 20px;
    height: 48px;
    background: #4877d8;
    border-radius: 60px;
    padding: 11px;
    color: #fff;
    text-align: center;
    font-size: 23px;
  }
  p {
    margin: 12px;
    font-size: 1.4em;
  }
}
.mlCard.disabled {
  .mlLevelName, figure, h1, p{
    opacity: 40%;
  }
}

.mlCard:hover {
  transform: scale(1.1);
  opacity: 40%;
}
