/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}

h3,
h2,
p {
  font-weight: 300;
}
