/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

ml-complete-sentence {
  min-width: 80%;
}

body.lightTheme {
  --bkg-color: #fff;
  header {
    .mlCloseIt {
      color: #132858 !important;
    }

    .mlCloseIt:hover {
      color: rgb(80, 79, 79) !important;
    }
    color: unset;
    .sentence-title figure {
      content: url(../src/assets/img/monk_logoIn.svg);
    }
  }

  .question-phrase {
    background: rgba(248, 175, 94, 0.3) !important;
  }
  .completed {
    background-color: #132858 !important;
  }
  .mlCard {
    background-color: none;
    border: 5px solid #132858;
  }
  .welcome {
    color: #132858;
  }
  .logo {
    content: url(../src/assets/img/monk_logoIn.svg);
    width: 50px;
    height: 50px;
  }
  .invertColor {
    content: url(../src/assets/img/invert_iconIn.svg);
    width: 40px;
    height: 40px;
  }
}

body {
  --bkg-color: #132858;
}

body,
html {
  background-color: var(--bkg-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  line-height: 35px;
}

h3,
h2,
p {
  font-weight: 300;
}
.highlight-question-mark {
  color: #f8af5e;
}
