header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.welcome {
  text-align: center;
  color: #fff;
  line-height: 3em;
  padding: 20px;
}

.mlSecondary {
  color: #f8af5e;
}
.mlHeader {
  padding: 35px;
  .eua {
    margin-top: 30px;
  }
}

.mlLevels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}
.invertColor {
  margin-top: 6px;
  cursor: pointer;
}
