<header class="mlHeader">
  <figure class="logo">
    <img
      class="logoImg"
      width="50"
      src="../../assets/img/logo_monk.png"
      alt="Logo Monklang"
    />
  </figure>
  <figure class="eua">
    <img width="40" src="../../assets/img/eua_icon.svg" alt="Icon EUA" />
  </figure>
  <figure class="invertColor" (click)="invertColorTheme()">
    <img width="40" src="../../assets/img/invert_icon.svg" alt="Invert Icon" />
  </figure>
</header>

<main>
  <article class="welcome">
    <h3>Bem vindo ao <span class="mlSecondary">monklang</span></h3>
    <h1>O que vamos aprender hoje?</h1>
    <p>
      Lorem Ipsum has been the industry standard dummy text ever since the 1500s
    </p>
  </article>
  <section class="mlLevels">
    <ml-card-level
      *ngFor="let lvl of cardLevellist"
      [lvl]="lvl.level"
      [lvlName]="lvl.levelName"
      [lvlDescription]="lvl.levelDescription"
      [lvlImg]="lvl.levelImg"
      [lvlColor]="lvl.levelColor"
    ></ml-card-level>
  </section>
</main>
